.container {
  font-size: 12px;
  letter-spacing: normal;
  background-color: white;
  opacity: 81%;
  padding: 10px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main {
  display: flex;
  font-weight: bold;
  overflow: hidden;
  white-space: normal;
  justify-content: space-between;
  margin: 10px 5px 10px 0px;
  height: 30px;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 4px;
}
.icon-container {
  padding: 2px 8px;
  border-radius: 4px;
  border: 1px solid #eeeeee;
}
.user {
  background-color: aliceblue;
}
.status-container {
  display: flex;
  align-items: center;
  gap: 4px;
  color: lightgray;
  padding: 2px 8px;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  margin: 0;
}
.status-content {
  display: flex;
  align-items: center;
}
.status {
  align-items: center;
}
